*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
    border: 0;
    background-color: #197278 ;
    color: #fff;
    border-radius: 4px;
    padding: 6px 20px;
    
}

h1,p{
    margin: 10px 0;
}

button:hover{
    background-color: #240159 ;
    color: #c1d232;
}

.avatar{
    width: 80px;
    height: 80px;
    background-color: gray;
    border-radius: 50%;
}

.bio{
    text-align: center;
    background-color: gray;
    max-width: 600px;
    margin: 40px auto;
    padding: 35px;
    border-radius: 5px;
    
}

.bio:hover{
    background-color: #666eff;
}